body {
  max-width: 1440px;
  margin: 55px;
  background-color: rgb(255, 255, 255);
  font-family: 'Raleway', sans-serif;
  border: 1px solid blu;
}

.ic_grey {
  color: #D9D9D9;
}

.ic_blue {
  color: #0065FC;
}

nav {
  justify-content: space-between;
  display: flex;
  border: 1px solid blu;
}

#logo {
  width: 61.09px;
  height: 19px;
  border: 1px solid blu;
}

.nav {
  text-decoration: none;
  color: black;
  /* *supposé être 55px */
  padding: 53px;
}

.nav:hover {
  border: #0065FC;
  /* *supposé être 2px */
  border-top: 3px solid blue;
}


h1 {
  width: 575px;
  height: 26px;
  left: 55px;
  top: 126px;
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  margin-top: 63px;
  margin-bottom: -10px;
}

#premier_paragraphe {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

form {
  width: 372px;
  align-items: stretch;
  display: flex;
  cursor: pointer;
  border: none;
  font-size: 16px;
  margin: 4px 2px;
}

form > * {
  cursor: pointer;
}

#ic_pin {
  padding: 15px;
  background-color: #D9D9D9;
  border: 2px solid #D9D9D9;
  border-radius: 15px 0px 0px 15px;

}

#emplacement {
  border: 1px;
  border-radius: 0px;
  border: 1px solid #D9D9D9;
  font-style: bolder;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.full_blue {
  background-color: #0065FC;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  padding: 15px 16px;
  height: 49px;
  left: 341px;
  top: 199px;
  background: #0065FC;
  border: 2px solid #0065FC;
  border-radius: 0px 15px 15px 0px;
}

#filtres {
  font-weight: bold;
}

#filtre {
  display: flex;
  gap: 30px;
  padding-top: 2%;
  font-weight: bold;
}

.Filtre_btn {
  padding-inline: 30px;
  border: 2px solid #D9D9D9;
  background-color: white;
  border-radius: 25px;
}

.Filtre_btn:hover {
  background-color: #DEEBFF;
}


#info {
  border: 1px solid #D9D9D9;
  border-spacing: 24px;
  padding: 10px;
  border-radius: 20px 20px 20px 20px;
  padding-left: 15px;
  padding-right: 15px;
}





/* ! -------------------- SECTIONS --------------------------- */





section > * {
  text-decoration: none;
}

#sec12 {
  display: flex;
  justify-content: space-between;
  gap: 50px;

}

.big_card {
  padding: 25px;
  background-color: #D9D9D9;
  border-radius: 20px 20px 20px 20px;
  gap: 1rem;

}

#section1 {
  width: 75%;
  columns: 3;
}

#section2 {
  flex-direction: column;
}

.img {
  object-fit: cover;
  width: 30%;
  height: 250px;
}

.card_hotel {
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
  gap: 1rem;
  border: 1px solid blue;
  border-radius: 20px 20px 20px 20px;

}




/* ! -------------------- SECTIONS -



.footer {
  display: flex;

}

.div_footer {
  flex: 1;
  justify-content: space-around;
}