html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  margin: auto;
  padding-left: 55px;
  padding-right: 55px;
  background-color: rgb(255, 255, 255);
  font-family: 'Raleway', sans-serif;
}

.ic_grey {
  color: #F2F2F2;
}

.ic_blue {
  color: #0065FC;
}


a {
  text-decoration: none;
  color: black;
}

nav {
  display: flex;
  justify-content: space-between;
  height: 70px;
  align-items: flex-end;
  flex-wrap: nowrap;
}

#logo {
  width: 60px;
  height: 20px;
}

nav div {
  height: inherit;
}

.nav:first-child {
  margin-right: 67px;
}

.nav:hover {
  border-top: 2px solid #0065FC;
  color: #0065FC;
}

.nav {
  margin-right: 22px;
  display: inline-flex;
  align-items: flex-end;
  height: 100%;

}

h1 {
  font-weight: bolder;
  font-size: 23px;
  margin-top: 63px;
  margin-bottom: 0%;
}

#premier_paragraphe {
  font-family: 'Raleway';
  font-size: 16px;
}

form {
  display: flex;
  height: 50px;
  width: 100%;
  font-size: 16px;
}

form>* {
  cursor: pointer;
}

#ic_pin {
  padding: 17px;
  padding-left: 20px;
  background-color: #F2F2F2;
  border: 0px solid #F2F2F2;
  border-radius: 15px 0px 0px 15px;

}

#emplacement {
  padding-left: 17px;
  border: 1px solid #F2F2F2;
  font-weight: bold;
  font-size: 16px;
  outline: none;
}

.full_blue {
  background-color: #0065FC;
  color: white;
  border: 1px solid #0065FC;
  border-radius: 0px 15px 15px 0px;
  padding-inline: 15px;
  font-size: larger;
}

#filtres {
  font-weight: bold;
  margin-block: 12px;
  font-size: 21px;
}

#filtre {
  display: flex;
  gap: 20px;
  margin-top: 2%;
}

.Filtre_btn {
  padding-inline: 28px;
  border: 3px solid #F2F2F2;
  background-color: white;
  border-radius: 25px;
  font-weight: bold;
  font-size: 20px;
}

.Filtre_btn:hover {
  background-color: #DEEBFF;
}


#info {
  font-size: smaller;
  border: 1px solid #F2F2F2;
  padding: 7px;
  border-radius: 20px;
  padding-left: 12px;
  padding-right: 12px;
}

.cinqcent {

  margin-block: 32px;
}

/* ! --------------------------------------------- SECTIONS ----------------------------------------------------------------------------------- */

#sec12 {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  max-height: 700px;
}


/* ! -------------------------section 1----------------------------------*/
#section1 {
  padding-inline: 40px;
  background-color: #F2F2F2;
  width: 70%;
  border-radius: 20px;
  height: 700px;
}

.img {
  display: flex;
  width: 100%;
  height: 124px;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
}

#marseille {
  margin-block: 40px;
}

.grille {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card_hotel1 {
  font-size: small;
  width: 31%;
  margin-bottom: 35px;
  height: auto;
  background-color: white;
  padding: 5px;
  border-radius: 20px;
  box-shadow: 8px 8px 122px -46.8px rgb(128 128 128);
}

.card_hotel1 i {
  font-size: smaller;
}

.container {
  padding: 0.5em;
}

.container>* {
  display: flex;
  margin: 0%;
  padding-top: 3px;
  padding-bottom: 3px;
}

.Afficher {
  font-weight: bold;
  font-size: 1em;
}

#fa-star {
  height: 12px;
  width: 12px;
}



/* ! -------------------------section 2----------------------------------*/

#section2 {

  padding-inline: 40px;
  background-color: #F2F2F2;
  width: 30%;
  border-radius: 20px;
  height: 700px;
}

#section2 h2 {
  margin-block: 40px;
}

section header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.img2 {
  display: flex;
  width: 40%;
  height: 100%;
  border-radius: 20px 0px 0px 20px;
  object-fit: cover;
  margin: 0%;
}

.card_hotel2 {
  height: 150px;
  display: flex;
  background-color: white;
  padding: 5px;
  border-radius: 20px;
  box-shadow: 8px 8px 122px -46.8px rgb(128 128 128);
  font-size: smaller;
}

.grille2 {
  display: flex;
  flex-direction: column;
  gap: 55px;
}

.grille2 article {
  display: flex;
  columns: 2;
  display: contents;
}

.container2 {
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container2 h3 {
  margin: 0;
}

.star2 {
  font-size: smaller;
}

/* ! -------------------------section 3----------------------------------*/

#section3 {
  gap: 0.1rem;
}

#section3 figcaption {
  padding-left: 15px;
  padding-bottom: 15px;
  font-weight: bold;
}

#grille3 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#grille3 a {
  display: block;
  width: 22%;
}

.card_activités {
width: 100%;
  margin-inline: 0%;
  border-radius: 20px;
  box-shadow: 8px 8px 122px -46.8px rgb(128 128 128);
}

.img3 {
  height: 389px;
  width: 100%;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
}






/* ! -------------------------  footer  ----------------------------------*/
.footer {
  margin-top: 50px;
  display: flex;
  background-color: #F2F2F2;
  padding: 3rem;
}

.div_footer {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: start;
}

.div_footer a {
  padding-block: 15px;
}


@media only screen and (max-width: 992px) {
  #sec12 {
    flex-direction: column;
    max-height: initial;
  }

  #section1,
  #section2 {
    width: 100%;
  }
}